<div class="movieDetails container">

    <h1>
        {{movie.title}}
    </h1>
    <p class="tagline">{{movie.tagline}}</p>

    <p>{{movie.overview}}</p>
    <p>Vote average: {{movie.vote_average}}</p>
    <p>backdrop path: {{movie.backdrop_path}}</p>
    <p>homepage: {{movie.homepage}}</p>
    <p>poster path: {{movie.poster_path}}</p>
    <p>popularity: {{movie.popularity}}</p>
    <p>genres</p>
    <p>imdb id: {{movie.imdb_id}}</p>
    <p>Revenue: {{movie.revenue}}</p>
    <p>Runtime: {{movie.runtime}} mins</p>

</div>