// green: c6c200

.clearFloat() {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

* {

	padding : 0;
	margin : 0;
	box-sizing : border-box;

}

.close {
	position : absolute;
	right : 5px;
	top : 5px;
	display : block;
	width : 38px;
	height : 38px;
}

.error {
	position : relative;
	padding : 15px;
	background-color : #ff9900;
}

.backdropImage {
	position : fixed;
	top : 0;
	left : 0;
	right : 0;
	text-align : center;

	img {
		display : inline-block;
		transition: opacity .75s;

		&.fadeIn {
			opacity: 1;
		}

		&.fadeOut {
			opacity: 0;
		}
	}
}

.container {

	position : relative;

	h1 {
		margin-bottom : 0;
		padding: 20px 10px;
	}

	.autocompleteList {
		list-style-type : none;

		li {
			border : 1px solid #ddd;
			border-top : none;
		}

		button {
			display : block;
			width : 100%;
			padding : 10px;
			text-align : left;
			color : #444;
			font-size : 15px;
			border : none;
			background-color : #f5f5f5;

			&:focus,
			&:active,
			&:hover {
				background-color : #fff;
			}
		}
	}

	.credits {
		display : block;
		margin-left : 10px;
		margin-bottom : 20px;
		font-weight : normal;
		color : #000;

		a {
			color : #cc0066;
		}
	}

	.tagline {
		padding : 10px 15px;
		color : #cc0066;
		border-top : 2px dotted #aaa;
	}

	.video h2 {
		margin-bottom : 0;
		padding : 10px;
		background-color : #fff;
		opacity : 0.8;
	}

	.youtube-player {
		width : 100%;
		height : 200px;
		margin-bottom : 20px;
	}

	@media(min-width: 768px) {

		.youtube-player {
			height : 300px;
		}

	}

	@media(min-width: 992px) {

		.youtube-player {
			height : 350px;
		}

	}

	@media(min-width: 1200px) {

		.youtube-player {
			height : 420px;
		}

	}

	/**
	 * SearchFilms View
	 */
	&.searchFilms {
		max-width : 585px;
		transition: max-width .75s;

		&.full {
			max-width : 1170px;
		}

		.searchTitle {
			position: relative;
			margin-top: 150px;
			margin-bottom: 0;
			font-size: 30px;
			color: #cc0066;
			background-color: #fff;
			opacity: 0.8;
		}

		.searchPerson {
			position: relative;
			&:after {
				.clearFloat;
			}

			input {
				margin-top: 10px;
				padding: 10px;
				width: 100%;
				font-size: 20px;
				border-radius: 3px;
				border: 1px solid #aaa;
			}

			.close {
				right: 20px;
				top: 16px;
			}
		}

		.profileImage {
			margin-top : 20px;
			padding : 10px;
			background-color : #fff;
			border-radius : 5px;

			img {
				border-radius : 5px;
			}
		}

		.movies {
			margin-top : 20px;

			ul {
				list-style-type : none;

				h1 {
					margin : 10px 0 ;
					padding : 0;
					font-weight : normal;
					font-size : 25px;
				}

				.releaseDate {
					float : right;
					line-height : 27px;
				}

				li {
					padding : 15px;
					background-color : #fff;

					+ li {
						border-top : 2px dotted #ccc;
					}

					&:hover {
						color : #fff;
						cursor : pointer;
						background-color : #cc0066;
						border-color : transparent;

						.releaseDate {
							color : #fff;
						}

						+ li {
							border-color : transparent;
						}
					}

				}

			}

		}

	}


	/**
	 * MovieDetails View
	 */
	&.movieDetails {

		h1 {
			padding : 20px 15px;
			margin-top : 50px;
			margin-bottom : 0;
			font-size : 30px;
			background-color : #fff;
			opacity : 0.8;

			.voteAverage {
				float : right;
				margin-top : 3px;
				color : #777;
				font-weight : normal;
				font-size : 25px;
			}
		}

		.tagline {
			margin-bottom : 20px;
			background-color : #fff;
			opacity : 0.8;
		}

		.genres {
			color : #cc0066;
		}

		.overviewTitle {
			color : #cc0066;
		}

		.poster img {
			margin-top : 15px;
		}

		.homepage {
			display : block;
			margin-top : 10px;
			overflow : hidden;
		}

		.panel {
			padding : 0 15px;
			padding-bottom : 10px;
			background-color : #fff;
		}

	}

}

.withImage {
	background-color : #333;

	.credits,
	.credits a {
		color : #fff;
	}

}

@media(max-width: 767px) {

	.container {

		.profileImage {
			display : none;
		}

	}

}

@media(min-width: 768px) {

	.container {

		.autocompleteList {
			z-index : 10;
			position: absolute;
			left: 15px;
			right: 15px;
		}

	}

}